:root{
    --first-color: #ffd966;
    --second-color: #A8CCC9;
    --third-color: #DA627D;
    --background-color: white;
}

h1, body{
    margin: 0;
    padding: 0;
}

header{
    /* position: sticky;
    top: 0; */
    background-color: var(--first-color);
}

header h1{
    font-size: 40px;
}

form button{
    background-color: var(--second-color);
    border-color: black;
    color: black;
}

form button:hover{
    /* TODO: dare l'impressione di essere schiacciato */
}

header nav img{
    width: 50px;
    height: 50px;
}

body main{
    background-color: var(--background-color);
}

article{
    background-color: var(--first-color);
    margin-bottom: 20px;
    min-height: 220px;
}

article div img{
    height: 100%;
}

